
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Admin Profile</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
<!--          <ol class="breadcrumb float-sm-right">-->
<!--            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--            <li class="breadcrumb-item active">Food Items</li>-->
<!--          </ol>-->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->


  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Profile Edit</h3>

      <div class="card-tools">
<!--        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">-->
<!--          <i class="fas fa-minus"></i>-->
<!--        </button>-->
      </div>
    </div>
    <div class="card-body">
    <form [formGroup]="applicantEditForm" method="post">
      <div class="form-group">
        <label>Name </label>
        <input type="text" class="form-control" formControlName="firstName"  />
        <span style="color: red;
          padding-left: 10px;
          font-size: 14px;

          padding-top: 5px;
          display: inline-block;" *ngIf="applicantEditForm.controls.firstName.errors && submitStatus">
                            Please enter name</span>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email"  placeholder="">
          <span style="color: red;
                    padding-left: 10px;
                    font-size: 14px;
                    padding-top: 5px;
                    display: inline-block;" *ngIf="applicantEditForm.controls.email.errors && submitStatus">
                                      Please enter email</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Phone</label>
          <input type="email" class="form-control" formControlName="phone"  placeholder="">
          <span style="color: red;
                    padding-left: 10px;
                    font-size: 14px;
                    padding-top: 5px;
                    display: inline-block;" *ngIf="applicantEditForm.controls.phone.errors && submitStatus">
                                      Please enter phone</span>
        </div>
      </div>

<!--      <div class="form-row">-->
<!--        <div class="form-group col">-->
<!--          <label>Password</label>-->
<!--          <input type="email" class="form-control" formControlName="password"  placeholder="">-->
<!--          <span style="color: red;-->
<!--                    padding-left: 10px;-->
<!--                    font-size: 14px;-->
<!--                    padding-top: 5px;-->
<!--                    display: inline-block;" *ngIf="applicantEditForm.controls.password.errors && submitStatus">-->
<!--                                      Please enter password</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-row">-->
<!--        <div class="form-group col">-->
<!--          <label>Confirm Password</label>-->
<!--          <input type="email" class="form-control" formControlName="confirm_password"  placeholder="">-->
<!--          <span style="color: red;-->
<!--                    padding-left: 10px;-->
<!--                    font-size: 14px;-->
<!--                    padding-top: 5px;-->
<!--                    display: inline-block;" *ngIf="applicantEditForm.controls.confirm_password.errors && submitStatus">-->
<!--                                      Please enter Confirm password</span>-->
<!--        </div>-->
<!--      </div>-->

      <!-- form-group end.// -->

      <div class="buttons-footer">
<!--        <button type="button" (click)="reset()" class="btn-sm btn-primary">Reset</button>-->
        <button type="button"  (click)="UpdateApplicant()" style="margin-left: 10px;" class="btn-sm btn-success">Submit</button>
      </div>
      <!-- form-group end.// -->
      <!-- form-group// -->
    </form>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>

      </div>
    </div>
  </section>
</div>

