<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Delivery Executives</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Delivery Executives</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->


  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <!-- /.card start -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Delivery Executives List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="datatable table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list; let i=index;">
<!--                <tr>-->
                    <td>{{item.firstName+' '+ item.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.address}}</td>
                    <td>
                      <div class="custom-control custom-switch" >
                        <input type = "checkbox" [checked] = "item.isActive"
                               (click)="changeStatus(item.isActive, item._id)"
                               class="custom-control-input" id="customSwitches{{i}}" />
                        <label class="custom-control-label" for="customSwitches{{i}}"></label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" (click)="viewDetails(item)" data-toggle="modal" data-target="#ViewFormModal" class="btn btn-primary"><i class="fas fa-eye"></i></button>
<!--                        <button type="button" (click)="delVal(item._id)" class="btn btn-danger" style="margin-left: 4px;" data-toggle="modal" data-target="#DeleteModal"><i class="fas fa-trash"></i></button>-->
                      </div>
                    </td>
                </tr>


                </tbody>

              </table>

              <!-- /.Pgination -->
              <!--          <div class="" style="width: 530px; margin: auto;">-->
              <!--            <div class="bootstrap-pagination text-center"   >-->
              <!--              <nav>-->
              <!--                <ul class="pagination" *ngIf="pager.pages && pager.pages.length" >-->

              <!--                  <li  class="page-item"-->
              <!--                       (click)="setPage(1)"-->
              <!--                       [ngClass]="{disabled:pager.currentPage === 1}" >-->
              <!--                    <a class="page-link"-->
              <!--                       href="javascript:void(0)"-->
              <!--                    > First</a>-->
              <!--                  </li>-->

              <!--                  <li class="page-item"-->
              <!--                      (click)="setPage(pager.currentPage - 1)"-->
              <!--                      [ngClass]="{disabled:pager.currentPage === 1}">-->
              <!--                    <a class="page-link"-->
              <!--                       href="javascript:void(0)"-->
              <!--                    >Previous</a>-->
              <!--                  </li>-->

              <!--                  <li class="page-item"-->
              <!--                      *ngFor="let page of pager.pages"-->
              <!--                      [ngClass]="{active:pager.currentPage === page}"-->
              <!--                      (click)="setPage(page)" >-->
              <!--                    <a class="page-link"-->
              <!--                       href="javascript:void(0)"-->
              <!--                    >{{page}}</a>-->
              <!--                  </li>-->

              <!--                  <li class="page-item"-->
              <!--                      [ngClass]="{disabled:pager.currentPage === pager.totalPages}"-->
              <!--                      (click)="setPage(pager.currentPage + 1)" >-->
              <!--                    <a class="page-link"-->
              <!--                       href="javascript:void(0)"-->
              <!--                    >Next</a>-->
              <!--                  </li>-->
              <!--                  <li class="page-item"-->
              <!--                      [ngClass]="{disabled:pager.currentPage === pager.totalPages}"-->
              <!--                      (click)="setPage(pager.totalPages)" >-->
              <!--                    <a class="page-link"-->
              <!--                       href="javascript:void(0)"-->
              <!--                    >Last</a>-->
              <!--                  </li>-->

              <!--                </ul>-->
              <!--              </nav>-->
              <!--            </div>-->
              <!--          </div>-->
              <!--          <pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>-->
            </div>


            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>


    </div>
  </section>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog addForm-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--        <h5 class="modal-title">Add</h5>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title">Do you want to Delete this data ?</h5>

        <div class="buttons-footer" style="float: right;">
          <button type="button" data-dismiss="modal" aria-label="Close" class="btn-sm btn-info">No</button>
<!--          <button type="button" (click)="deleteApplicant()" style="margin-left: 10px;" data-dismiss="modal" aria-label="Close" class="btn-sm btn-danger">Yes</button>-->
        </div>
        <!-- form-group end.// -->
      </div>
    </div>
  </div>
</div>

<!-- View Modal -->
<div class="modal fade" id="ViewFormModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog addForm-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="viewdetail.firstName">
          <div class="form-row">
            <div class="col form-group">
              <label>Title: </label>
              <p>{{viewdetail.firstName+' '+ viewdetail.lastName}}</p>
            </div>
          </div>
          <!-- form-row end.// -->
          <div class="form-row">
            <div class="form-group">
              <label>Email: </label>
              <p>{{viewdetail.email}}</p>
            </div>
          </div>
          <!-- form-group end.// -->
          <div class="form-row">
            <div class="col form-group">
              <label>Address: </label>
              <p>{{viewdetail.address}}</p>
            </div>
            <!-- form-group end.// -->
          </div>

          <!-- form-group// -->
        </form>
      </div>
    </div>
  </div>
</div>
