<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Saaah</span>
    <p style="  margin-top: 7px;
  background-color: #085438;
  align-content: center;
  align-items: center;
  font-weight: bolder !important;
  margin-right: 17px;
  padding-left: 19px;
  padding-bottom: 3px;" class="brand-text font-weight-light user-type-name">Restaurant Owners</p>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <!--      <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
    <!--        <div class="image">-->
    <!--          <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
    <!--        </div>-->
    <!--        <div class="info">-->
    <!--          <a href="#" class="d-block">Alexander Pierce</a>-->
    <!--        </div>-->
    <!--      </div>-->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Dashboard -->
        <li class="nav-item">
          <a routerLink="./dashboard" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Dashboard
              <!--                <span class="right badge badge-danger">New</span>-->
            </p>
          </a>
        </li>

        <!-- Sidebar -->
        <li class="nav-item" >
          <a routerLink="./restaurants" class="nav-link" routerLinkActive="active">
<!--            <i class="nav-icon fas fa-users"></i>-->
            <i class="nav-icon fas fa-bread-slice"></i>
            <p>
              Restaurants
              <!--                <span class="right badge badge-danger">New</span>-->
            </p>
          </a>
        </li>
        <!-- Order -->
        <li class="nav-item">
          <a routerLink="./restaurant-orders" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-list-alt"></i>
            <p>
              Orders
              <!--                <span class="right badge badge-danger">New</span>-->
            </p>
          </a>
        </li>


        <!--        <li class="nav-item" >-->
        <!--          <a routerLink="./foods" class="nav-link" routerLinkActive="active">-->
        <!--            <i class="nav-icon fas fa-users"></i>-->
        <!--            <p>-->
        <!--              Food Items-->
        <!--              &lt;!&ndash;                <span class="right badge badge-danger">New</span>&ndash;&gt;-->
        <!--            </p>-->
        <!--          </a>-->
        <!--        </li>-->

        <!-- foods menu -->
<!--        <li class="nav-item menu-is-opening menu-open">-->
<!--          <a href="#" class="nav-link">-->
<!--            <i class="nav-icon fas fa-tachometer-alt"></i>-->
<!--            <p>-->
<!--              Manage Foods-->
<!--              <i class="right fas fa-angle-left"></i>-->
<!--            </p>-->
<!--          </a>-->
<!--          <ul class="nav nav-treeview">-->
<!--            <li class="nav-item" >-->
<!--              <a routerLink="./foods" class="nav-link" routerLinkActive="active">-->
<!--                <i class="nav-icon fas fa-circle"></i>-->
<!--                <p>-->
<!--                  Food Items-->
<!--                  &lt;!&ndash;                <span class="right badge badge-danger">New</span>&ndash;&gt;-->
<!--                </p>-->
<!--              </a>-->
<!--            </li>-->
<!--&lt;!&ndash;            <li class="nav-item" >&ndash;&gt;-->
<!--&lt;!&ndash;              <a routerLink="./food-category" class="nav-link" routerLinkActive="active">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="nav-icon fas fa-circle"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                  Category & Subcategories&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash;                <span class="right badge badge-danger">New</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                </p>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->

<!--          </ul>-->
<!--        </li>-->

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
