 .aps-top-box{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .aps-top-box .aps-left-header{
  width: 100%;
  /*display: flex;*/
  align-items: center;
}
.aps-top-box .input-group > .form-control{
  border-color: #ddd;
  height: 40px;
}
.search-group {
  float: left;
  width: 400px;
}
.aps-top-box .btn{
  height: 40px;
  margin-right: 15px;
  font-size: 17px;
}
.aps-top-box .btn-add-tp{
  margin-right: 0 !important;
  font-size: 15px!important;
  display: flex;
  align-items: center;
}
.btn-add-tp i{
  margin-right: 5px;
}

.add-btn{
  float: right;
}
